*moc_*.h
*moc_*.cpp
qrc_resources.cpp
object_script.*
*.o
*.exe
*.dll
*.lnk
*.qm
lib*.a
Makefile
Makefile.Debug
Makefile.Release
.qmake.stash
bin/AxesCurvesSettings.xml
bin/AxesCurvesSettings.json
bin/ControllersInfoSettings.xml
bin/ControllersInfoSettings.json
bin/MonitoringSettings.xml
bin/MonitoringSettings.json
bin/UjpsSettings.xml
bin/UjpsSettings.json
bin/QtCompilerSettings.xml
bin/QtCompilerSettings.json
examples
.vscode
