Profiles/build_ProfileTest2.bat
Profiles/ProfileTest2/
*moc_*.h
*moc_*.cpp
qrc_resources.cpp
object_script.*
*.o
*.exe
*.dll
*.lnk
*.qm
lib*.a
Makefile
Makefile.Debug
Makefile.Release
.qmake.stash
UjpsMainApp/SETTINGS/QtCompilerSettings_Qt5.11.xml
UjpsMainApp/SETTINGS/QtCompilerSettings_Qt5.7.xml
StaticLibs/INCLUDES/UjpsCore/WindowsKeysScanCodes*.h
StaticLibs/INCLUDES/UjpsCore/WindowsKeysVirtualCodes*.h
StaticLibs/SOURCES/UjpsCore/CODE/VirtualEventsQueue_*.cpp
